<%= render "shared/header" %>

<div class="page-wrapper">
  <div class="pagetitle">
    記事
  </div>
  <%= link_to "記事を作成する", new_article_path, class:"btn" %>
  <div class="articles">
    <% @articles.each do |article| %>
      <div class="box article">
        <%= link_to article.title, article_path(article.id), class:"boxtop" %>
        <div class="article-bottom">
          投稿者：<%= link_to User.find(article.user_id).nickname, user_path(article.user_id),class:"poster" %>
        </div>
      </div>
    <% end %>
  </div>
</div>