<%= render "shared/header" %>

<div class="page-wrapper">
  <div class="pagetitle">
    <%= User.find(params[:id]).nickname %>さんのユーザーページ
  </div>
  <div class="box user-info">
  info
  </div>
  <div class="box introduce">
  introduce
  </div>
  <div class="box posted">
  forms
  </div>
  <div class="box posted">
  articles
  </div>

</div>