<footer>
  <div>
    <%= link_to "大乱闘スマッシュブラザーズ", "https://www.smashbros.com/ja_JP/" %>は、
    任天堂株式会社様の登録商標であり、当サイトは個人のスマブラファンが運営する非公式のWebサービスです。<br>
  任天堂株式会社様、他関連企業様とは一切関係ありません。下記はサイト独自の内容に関する著作権を示すものです。<br>
  Copyright © 2023 <%= link_to "はまかちゅ", "https://twitter.com/Saten0202" %> All rights reserved.
  </div>
</footer>