<%= render "shared/header" %>
<div class="">フォーム作成</div>
<%= link_to "開始フォーム作成", new_startform_path, target: :_blank, rel: "noopener noreferrer" %>
<%= link_to "振り返りフォーム作成", "#", target: :_blank, rel: "noopener noreferrer" %>