<div class="page-wrapper">
  <div class="pagetitle">
    その他
  </div>
  <div class="box">
    <div class="boxtop">
      リンク集
    </div>
    <div class="contents">
      <div class="link">
        ・スマメイト<br>
        <%= link_to "https://smashmate.net/", "https://smashmate.net/" %>
      </div>

      <div class="link">
        ・スマブラSPECIAL 検証wiki<br>
        <%= link_to "https://w.atwiki.jp/smashsp_kensyou/", "https://w.atwiki.jp/smashsp_kensyou/" %>
      </div>
      <div class="link">
        ・UltimateFrameData<br>
        <%= link_to "https://ultimateframedata.com/", "https://ultimateframedata.com/" %>
      </div>
    </div>
  </div>
</div>