<div class="page-wrapper">
  <div class ="pagetitle">
    UpSmash!へようこそ
  </div>
  <div class="box">
    <div class="boxtop">
      このサイトの使い方
    </div>
    <div class="contents">
      <div class="content">
        <div class="function">1. フリー対戦機能</div>
        ・他のユーザーとマッチングして対戦を行うことができます。<br>
        ・メニューのフリー対戦タブから対戦ルーム一覧ページに移動します。<br>
        ・ページ内のボタンからルームを作成できます。<br>
        ・ホストはルーム作成後、対戦ルールを設定します。<br>
        ・ルーム内のチャットでやり取りすることもできます。<br>
        ・対戦終了後、ホストがルームを削除すると、別のルームに参加できます。
      </div>
      <div class="content">
        <div class="function">2. 対戦振り返り機能</div>
        ・対戦前に目標を立てたり、対戦後に内容を言語化することができます。<br>
        ・メニューの対戦振り返りタブを選択するとフォーム選択ページが開きます(新規タブが開きます)<br>
        ・2種類のフォームから選んで項目に入力します。<br>
        ・作成したフォームはユーザーページから確認することができます。<br>
      </div>
      <div class="content">
        <div class="function">3. 記事投稿機能</div>
        ・日記や攻略情報などを記事として投稿できます。<br>
        ・メニューの記事タブから記事一覧ページに移動します。<br>
        ・ユーザーページから、該当ユーザーの投稿記事を確認できます。<br>
      </div>
      <div class="content">
        <div class="function">4. その他</div>
        ・役立つ情報やサイトなどを掲載していきます。<br>
      </div>
    </div>
  </div>
</div>