.articles{
  margin-top: 30px;
}

.article{
  margin-bottom:10px;
}

.article-bottom{
  padding: 10px;
}


.new-article{
  padding: 10px;
}

.article-input{
  width: 80%;
  font-size: 16px;
}

.main-input{
  height: 500px;
}

.article-content{
  overflow: hidden;
}

.article-markdown{
  padding: 10px 20px;
}

.save-article{
  margin-bottom: 15px;
}

/* コメント */
.comments-box{
  margin: 30px 0;
}

.comment-form{
  display: flex;
  align-items: center;
}

.form-submit{
  height: 35px;
}

.comments-index{
  padding: 10px;
}

.comment{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.comment-upper{
  display: flex;
  justify-content: space-between;
}

.commenter{
  border-bottom: 1px solid lightgrey;
}