.feedback-links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-link{
  width: 200px;
  text-decoration: none;
  margin: 20px;
}

.feedback{
  text-align: center;

}

.feedbacks{
  background-color: white;
  width: 80vw;
  margin: 30px 10%;
  align-items: center;
  border-radius: 5px;
  border:1px solid lightgrey;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
}

.feedback-content{
  margin-bottom: 20px;
  padding-left: 20px;
}

.feedback-info{
  margin-bottom: 10px;
}

  
.feedbacks-area{
  margin: 0 20px 20px;
}

.evaluation{

}

.feedback-form{
  height: 100px;
  width: 80%;
}

.good_bad{
  height: 50px;
}

.feedback-btn{
  
}

.create-complete{
  text-align: center;
}

/* スマホ */
@media (max-width: 599px) {
  .feedbacks{
    font-size: 12px;
    width: 95vw;
    margin: 20px 0;
  }
  .evaluation{
    font-size: 6px;
  }
}