.background{
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

header{
  height: 150px;
  width: 80vw;
  margin: 0 10%;
  border-bottom: 1px solid lightgray;
}

.logo{
  height: 60px;
  width: auto;
}

.head-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: auto;
}

.nav-link{
  text-decoration: none;
  color: black;
}

.rule-img{
  height: 100px;
  width: auto;
}
