.room-create{
  margin-bottom: 20px;
}

/* ルーム */
.room_box{
  height: 120px;
  margin:20px 0;
  overflow: hidden;
}

.room_link{
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.room-upper{
  height: 30%;
}

.room-bottom{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 70%;
  padding: 0 10px;
}

.room-join{
  font-size: 16px;
}

.room_contents{
  width: 100%;
  height: 500px;
  margin-bottom: 80px;
  text-align: center;
}

/* ルール */
.rule{
  height: 280px;
  width: 100%;
  text-align: center;
}

.rule-img{
  height: 100px;
  width: auto;
}

.rule-box{
  align-items: center;
}

.decided-rule{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rule-content{
  border-bottom: 1px solid lightgray;
  margin: 5px;
  margin-top: 10px;
}

.edit-rule{
  height: 35px;
  padding: 5px 10px;
}

.edit{
  display: flex;
  flex-direction: column;
}

.select-rule{
  width: 300px;
}

.rule-form{
  text-align: center;
  display: flex;
}

.form-control{
  width: 150px;
}

.rule-submit{
  margin-top: 10px;
  padding: 5px;
  height: 40px;
}

.rule-img{
  height: 280px;
}

/* チャットエリア */
.chat-box{
  height: 240px;
}

.messages-area{
  height: 200px;
  overflow: scroll;

}

.message{
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.message-user{
  font-size: 12px;
  margin:0 5px;
  display: flex;
  flex-direction: column;
}

.chat-user-img{
  height: 30px;
  width: auto;
}

.message-content{
  height: 30px;
  padding:5px 20px;
  background-color: white;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 15px;
  border-bottom-left-radius: 0;
}

.form{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 40px;
  width: 100%;
}

.form-input{
  height: 30px;
  width: 80%;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.chat-form{
  margin-bottom: 40px;
}

.form-submit{
  padding: 5px 10px;
}

.delete{
  width: 100%;
  text-align: center;
  
}

/* 画面暗転 */
.popup{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.rule-edit-form{
  background-color: white;
  position: fixed;
  top:25%;
  left: 10%;
  width: 80%;
  height: 50%;
}

/* スマホ */
@media (max-width: 599px) {
  .room_box{
    height: 80px;
    margin-right: 15px;
  }
  .room-upper{
    height: 25px;
  }
  .room-bottom{
    font-size: 16px;
    height: 55px;
  }
  .rule{
    height: 220px;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .rule-img{
    margin-top: 20px;
    height: 160px;
  }
  .rule-box{
    margin-top: 20px;
    font-size: 8px;
  }
  .rule-content{
    margin: 10px;
  }
  .messages-area{
    height: 160px;
  }
  .form-input{
    height: 20px;
    width: 70%;
    font-size: 12px;
  }
  .form-submit{
    line-height: 12px;
  }
}