.page-wrapper{
  height: 70vh;
  width: 70%;
  margin: 0 15%;
  text-align: center;
}

.pagetitle{
  margin: 50px 0;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.rooms_wrapper{
  width: 100%;
}

.room-create{
  margin-bottom: 20px;
}

/* ルーム */
.room_box{
  background-color: white;
  height: 120px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1);
  margin:20px 0;
  padding: 5px 15px;
}

.room_link{
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.room_submit{
  height: 35px;
  padding: 0 10px;
}

.room_contents{
  width: 100%;
  height: 500px;
  margin-bottom: 40px;
}


.rule{
  height: 250px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
}

.form{
  flex-direction: column;
}

.rule-form{
  flex-direction: column;
}

.rule-box{
  align-items: center;
}

.rule-content{
  border-bottom: 1px solid lightgray;
  margin: 5px;
  margin-top: 10px;
}

.edit-rule{
  height: 35px;
  padding: 5px 10px;
}

.match-up{
  display: flex;
  align-items: center;
}
.edit{
  display: flex;
  flex-direction: column;
}
/* チャットエリア */
.chat-box{
  height: 240px;
}

.messages-area{
  height: 200px;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1);
  overflow: scroll;
}
.message{
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.message-user{
  font-size: 12px;
  margin:0 5px;
}

.message-content{
  padding:5px 20px;
  background-color: white;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 15px;
  border-top-left-radius: 0;
}

.form{
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

.form-input{
  height: 30px;
  width: 80%;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.form-submit{
  padding: 5px 10px;
}

.delete{

}

/* 画面暗転 */
.popup{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.rule-edit-form{
  background-color: white;
  position: fixed;
  top:25%;
  left: 10%;
  width: 80%;
  height: 50%;
}