.sign{
  text-align: center;
}

.field{
  margin-bottom: 5px;
}

.users{
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  min-height: 100px;
}

.user-img{
  height: 60px;
  margin-right: 5px;
  overflow: hidden;
}

.user-info{
  height: 100px;
}

.introduce{
  height: auto;
}

.user-contents{
  padding: 5px;
}

.user-content{
  border-bottom: 1px solid lightgray;
}

.edit-form{
  height: auto;
  padding: 10px;
}

.edit-introduce{
  height: 100px;
  width: 400px;
}

.preview-image{
  height: 80px;
}

.nickname{
  text-decoration: none;
  color: blue;
}

.user-articles{
  padding: 5px;
}

.user-article{
  text-decoration: none;
  color: blue;
}

.user-form{
  text-decoration: none;
}

/* スマホ */
@media (max-width: 599px) {
  .users{
    margin-bottom: 10px;
  }
  
}